<h1>Party view</h1>
<div class="party-status">
	<ul>
		<li>
			"Name: "<%= @party.name %>
		</li>
		<li>
			"Address: "<%= @party.adress %>
		</li>
		<li>
			"Location: "<%= @party.coordinates %>
		</li>
		<li>
			"Date: "<%= @party.date_time %>
		</li>
	</ul>
	<a href="/view/:id/edit">Edit</a>
</div>